<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="candyenk.android">

    <application>
        <activity
                android:name="candyenk.android.asbc.ActivityCrash"
                android:process=":error_activity"/>
    </application>
</manifest>